# Node / dependências
node_modules/
app/node_modules/

# Arquivos de ambiente
.env

# Logs
*.log

# Docker volumes ou pastas persistentes
waha_sessions/
waha_media/
pgdata/
n8n_data/

# Outros que você não quer versionar
.DS_Store
